.btn:not(:last-child) {
  margin-right: 15px;
}
.btn {
  background-color: tomato;
  color: white;

  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);

  font-weight: 500;
  /* outline: none; */
}
